{% extends 'base.html' %}
{% block content %}
    <div class="row">
    {% for i in posts %}
        <div class="col-6">
            <!--{{ i.title }}<br>-->
            <a href="{% url 'detail' i.id %}">{{ i.title }} - {{ i.id }}</a><br>
            {{ i.description }}<br>
            <img src="{{ i.image.url }}" width = "200" height = "200"><br>
            {{ i.created_at }} by {{ i.user }}<br>
            Updated At: {{ i.updated_at }}<br>
            <br>
        </div>
    {% endfor %}
    </div>
{% endblock %}
